packages/*

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
src/*/*.user
src/*/*.cuser
*.suo
src/*.bak
src/*/[Bb]in/*
src/*/[Dd]ebug/*
src/*/obj/*
src/*/[Rr]elease*/
_ReSharper*/
.IronPythonMef.boltdata/*
IronPythonMef.sln.DotSettings.user
